.field {
    background-color: #efefef;
    position: relative;
    margin: 20px auto;
}

.controls {
    width: 640px;
    margin: 0 auto;
    text-align: center;
}

.controls div {
    float: left;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.controls div:last-of-type {
    margin-right: 0;
}

.controls div:last-of-type:after {
    content: '';
    clear: left;
}

.tile {
    box-sizing: border-box;
    background-color: #dbdbdb;
    float: left;
    border-radius: 2px;
    border: 1px solid #888;
    text-align: center;
    cursor: pointer;
}

.tile.flag {
    background-color: yellow;
}

.tile.revealed {
    background-color: #efefef;
    cursor: default;
}

.tile.revealed.mines-counter-1 {
    color: purple;
}

.tile.revealed.mines-counter-2 {
    color: blue;
}

.tile.revealed.mines-counter-3 {
    color: green;
}

.tile.revealed.mines-counter-4 {
    color: limegreen;
}

.tile.revealed.mines-counter-5 {
    color: yellow;
}

.tile.revealed.mines-counter-6 {
    color: orange;
}

.tile.revealed.mines-counter-7 {
    color: red;
}

.tile.revealed.mines-counter-8 {
    color: black;
}

.miner-game-lose .tile.revealed.mine {
    background-color: #880000;
}

.miner-game-lose .tile.mine {
    background-color: #bb8888;
}

.miner-game-win .tile.mine {
    background-color: #88bb88;
}

.flag-clicked {
  -moz-animation: flag-clicked .5s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flag-clicked .5s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flag-clicked .5s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flag-clicked {
    0% { background-color: yellow; }
    50% { background-color: orange; }
    100% { background-color: yellow; }
}

@-moz-keyframes flag-clicked {
    0% { background-color: yellow; }
    50% { background-color: orange; }
    100% { background-color: yellow; }
}

@-ms-keyframes flag-clicked {
    0% { background-color: yellow; }
    50% { background-color: orange; }
    100% { background-color: yellow; }
}
